/* .chart {
    width: 100%;
    gap: 16;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 6;
}

.legendItem {
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8;
} */